# Configuración de Mercado Pago
# Obtén tu Access Token en: https://www.mercadopago.com.ar/developers/panel/credentials
MP_ACCESS_TOKEN=APP_USR-891623133308654-022002-938ffdc0e880c25f5b3ab07db949ed1e-2695167164

# Configuración de Base de Datos (opcional si quieres cambiarla)
# DB_NAME=ecommerce_db
# DB_USER=postgres
# DB_PASSWORD=postgres123
# DB_HOST=localhost
# DB_PORT=5432


